@import "tailwindcss";

@theme {
  --color-primary: #0F4C81;
  --color-accent: #C89B3C;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-cursive: "Great Vibes", cursive;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    color: #1f2937;
    background-color: #ffffff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }
}
